<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Carbon</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>BariumBlack</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BariumBlack</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>BariumDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BariumDark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>BariumLight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BariumLight</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>ChlorineBlack</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ChlorineBlack</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>ChlorineDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ChlorineDark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>ChlorineLight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ChlorineLight</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>DefaultBlack</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>DefaultBlack</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>DefaultDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>DefaultDark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>DefaultLight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>DefaultLight</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>HeliumBlack</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>HeliumBlack</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>HeliumDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>HeliumDark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>HeliumLight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>HeliumLight</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>IronBlack</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IronBlack</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>IronDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IronDark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>IronLight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IronLight</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>LithiumBlack</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>LithiumBlack</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>LithiumDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>LithiumDark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>LithiumLight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>LithiumLight</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>NeonBlack</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>NeonBlack</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>NeonDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>NeonDark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>NeonLight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>NeonLight</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>NitrogenBlack</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>NitrogenBlack</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>NitrogenDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>NitrogenDark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>NitrogenLight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>NitrogenLight</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>OxygenBlack</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>OxygenBlack</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>OxygenDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>OxygenDark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>OxygenLight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>OxygenLight</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>PhosphorusBlack</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>PhosphorusBlack</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>PhosphorusDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>PhosphorusDark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>PhosphorusLight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>PhosphorusLight</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>SiliconBlack</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>SiliconBlack</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>SiliconDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>SiliconDark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>SiliconLight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>SiliconLight</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>ZincBlack</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ZincBlack</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>ZincDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ZincDark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>ZincLight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ZincLight</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>DefaultBlack</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>BariumBlack</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BariumBlack-iPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>BariumDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BariumDark-iPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>BariumLight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BariumLight-iPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>ChlorineBlack</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ChlorineBlack-iPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>ChlorineDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ChlorineDark-iPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>ChlorineLight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ChlorineLight-iPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>DefaultBlack</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>DefaultBlack-iPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>DefaultDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>DefaultDark-iPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>DefaultLight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>DefaultLight-iPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>HeliumBlack</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>HeliumBlack-iPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>HeliumDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>HeliumDark-iPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>HeliumLight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>HeliumLight-iPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>IronBlack</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IronBlack-iPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>IronDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IronDark-iPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>IronLight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IronLight-iPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>LithiumBlack</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>LithiumBlack-iPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>LithiumDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>LithiumDark-iPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>LithiumLight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>LithiumLight-iPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>NeonBlack</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>NeonBlack-iPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>NeonDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>NeonDark-iPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>NeonLight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>NeonLight-iPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>NitrogenBlack</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>NitrogenBlack-iPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>NitrogenDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>NitrogenDark-iPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>NitrogenLight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>NitrogenLight-iPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>OxygenBlack</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>OxygenBlack-iPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>OxygenDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>OxygenDark-iPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>OxygenLight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>OxygenLight-iPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>PhosphorusBlack</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>PhosphorusBlack-iPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>PhosphorusDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>PhosphorusDark-iPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>PhosphorusLight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>PhosphorusLight-iPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>SiliconBlack</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>SiliconBlack-iPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>SiliconDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>SiliconDark-iPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>SiliconLight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>SiliconLight-iPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>ZincBlack</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ZincBlack-iPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>ZincDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ZincDark-iPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>ZincLight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ZincLight-iPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Defailt-iPad</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>twitter</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>Tondo-Bold.ttf</string>
		<string>Tondo-Redulat.ttf</string>
		<string>Tondo-Light.ttf</string>
		<string>Dense-Regular.otf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
